<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
</body>
<script type="text/template" id="list-template">
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>Average</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>

<script type="text/template" id="item-template">
    <td><%= id %></td>
    <td><%= lazyAttr('common.value') %></td>
</script>


<script src="./../lib/jquery-1.9.1.js"></script>
<script src="./../lib/underscore.js"></script>
<script src="./../lib/backbone.js"></script>
<script src="./../lib/metamorph.js"></script>
<script src="./../lib/backbone.marionette.js"></script>
<script src="./../backbone.metamorph.js"></script>
<script src="./list.js"></script>
</html>